/* Reset dasar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigasi */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 30, 60, 0.9);
  color: white;
  padding: 10px 40px;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.logo h1 {
  font-size: 20px;
  margin-bottom: 2px;
}

.logo p {
  font-size: 12px;
  color: #ddd;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.menu li a.active,
.menu li a:hover {
  color: #5cc0ff;
}

.hero {
  position: relative;
  height: 100vh;
  background-image: url("gambar/gambar-pemandangan-hd7.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4); /* jangan 0.8 karena terlalu gelap */
  z-index: 1;
}


.hero-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  padding: 20px;
}

.hero-content h2 {
  font-size: 48px;
  line-height: 1.3;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 25px;
}

.btn {
  background-color: #2a90ff;
  color: white;
  padding: 12px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.btn:hover {
  background-color: #1a7dd8;
}






